<footer class="text-muted py-5">
    <div class="container">
        <p class="float-end mb-1">
            <a href="#">Back to top</a>
        </p>
        <p class="mb-1">Album example is &copy; Bootstrap, but please download and customize it for yourself!
            {% if request.user.is_authenticated %}
                <a href="{% url 'membership:logout' %}">Logout</a>
            {% else %}
                <a href="{% url 'membership:login' %}">Login</a>
            {% endif %}
        </p>
    </div>
</footer>