{% load static %}
{% load sass_tags %}
{% load compress %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    {% compress css %}
        <link href="{% sass_src 'scss/style.scss' %}" rel="stylesheet">
    {% endcompress %}
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
{% include 'partials/_header.html' %}
{% block content %}{% endblock %}
{% compress js %}
    <script src="{% static 'node_modules/bootstrap/dist/js/bootstrap.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
{% endcompress %}
{% include 'partials/_footer.html' %}
</body>
</html>