{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans 'Shop example' %}{% endblock %}
{% block content %}
    <main>
        <section class="py-5 text-center container">
            <div class="row py-lg-5">
                <div class="col-lg-6 col-md-8 mx-auto">
                    <h1 class="fw-light">{% trans 'Shop example' %}</h1>
                </div>
            </div>
        </section>

        <div class="album py-5 bg-light">
            <div class="container">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    {% for product in products %}
                        <div class="col">
                            {% include 'shop/partials/_product.html' with product=product %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </main>
{% endblock %}